<%= render 'cat', action: :show %>
<h1>Kitty</h1> 
<table>
    <thead>
        <tr>
            <th colspan="2"> <%= @cat.name %> </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Age:</td>
            <td><%= @cat.age %></td>
        </tr>
        <tr>
            <td>Color:</td>
            <td><%= @cat.color %></td>
        </tr>
        <tr>
            <td>Sex:</td>
            <td><%= @cat.sex %></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Description:</td>
        </tr>
        <tr>
            <td> <%= @cat.description %> </td>
        </tr>
    </tfoot>
</table>
