<%= render 'cat', action: :show %>
<h1>Kitty Cat <%= @cat.name %></h1> 
<table>
    <thead>
        <tr>
            <th colspan="2"> <%= @cat.name %> </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Age:</td>
            <td><%= @cat.age %></td>
        </tr>
        <tr>
            <td>Color:</td>
            <td><%= @cat.color %></td>
        </tr>
        <tr>
            <td>Sex:</td>
            <td><%= @cat.sex %></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>Description:</td>
        </tr>
        <tr>
            <td> <%= @cat.description %> </td>
        </tr>
    </tfoot>
</table>

<br><br>

<h2><%= @cat.name %>'s Rental Requests</h2>


<ul>

  <% CatRentalRequest.where(cat_id: @cat.id).order(:start_date).each do |request| %>
  <li><%= request.start_date %> - <%= request.end_date %> ___ 
    <% if request.status == 'APPROVED' %>
        APPROVED
    <% else %>
        <form action="<%= cat_rental_request_approve_url(request) %>" method="post">
            <input type="submit" value="Approve">
        </form><form action="<%= cat_rental_request_deny_url(request) %>" method="post">
            <input type="submit" value="Deny">
        </form>
    <% end %>
  </li>
    
  <br>
  <% end %>

</ul>
