<form action=" <%= cat_rental_requests_url %> " method="POST">

<br><br>

<label>Cat
    <select name="request[cat_id]">  
        <option disabled selected>--select your rental kitty--</option>
        <% Cat.all.each do |cat| %>
        <option 
        <%= @request.cat_id == cat.id ? "selected" : "" %>
        value="<%= cat.id %>"><%= cat.name.capitalize %></option>
        <% end %>
    </select>
</label>

<br><br>

<label>Start Date
  <input type = 'date' name = "request[start_date]" value = "<%= @request.start_date %>" >
</label>

<br><br>

<label>End Date
  <input type = 'date' name = "request[end_date]" value = "<%= @request.end_date %>" >
</label>

<br><br>

<input type = "submit" value = "submit">

</form>
